// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// our chart
$pink: #FF5364;
$blue: #35A7FF;
$yellow: #FFED7C;
$green: #7CFFFA;
$gray: #0E0000;
$light-gray: #F6F2F0;
$red: #FD1015;
$orange: #E67E22;
