.products-header {
  margin: 0, auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.my-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  height: max-content;
  a:hover {
    text-decoration: none;
  }
}

.map-index {
  height: 100vh;
  position: sticky;
  top: 65px;
  width: 350px;
  margin-left: 2rem;
  border-radius: 4px;
}
