.container-brain-new {
  margin-top: 20px;
  background-color: #F6F2F0;
  color : grey;
}

.row-brain-new {
  margin-top: 20px;
  text-align: center;
  padding-left: 400px;
}

.form-input {
  text-align: left;
}

h3 {
  color : #FF5364;
  font-size: 40px;
  margin : 20px;
}






