<div class="home-banner">
  <h1>Brain To 1 Switch</h1>
  <p>Think Different</p>
  <%= link_to "Book a brain", "#", class: "btn btn-flat" %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
