.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-left: 2rem;
}

.banner p {
  margin-top: 2rem;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-left: 2rem;
}

.home-banner > * {
  margin-left: 15rem;
}

.home-banner {
  background-image: url('https://source.unsplash.com/1qkyck-UL3g');
  background-size: cover;
  height: 100vh;
  color: #eee;
  padding-top: 40vh;
}

.btn-flat {
  margin-top: 4rem;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF6354;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #e86458;
  color: white;
}
