.main-container-brain-show{
  display: flex;
}

.left-container-brain-show{
}
.title-and-pic{
  display: flex;
}

.right-container-brain-show{
}
.line{
  border-bottom-width: var(--border-rule-border-width, 1px) !important;
  border-bottom-color: var(--color-divider, #EBEBEB) !important;
  margin-top: 1rem;
  margin-down: 1rem;
}
