.navbar-lewagon-pages {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
  border-bottom: 1px ridge rgba(255, 83, 84, .2);
}

.navbar-lewagon-pages .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-pages .navbar-brand img {
  width: 40px;
}
